html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.body-inicio{
    background-color: black;
}

/*================================== menu-navegacao ================================= */

#botao-contato{
    border-radius: 20px;
    color: rgb(43, 43, 43);
    background-color: white;
    border:none;
}

.nav{
    margin-right: 3vh;
}



.conteiner-header{
 background-color: rgb(43, 43, 43);
}

#logo{
    font-size: 6vh;
    margin-right: 0px;

}

#barra-navegacao {
    background-color: rgb(43, 43, 43) !important;
}

.navbar-brand{
    color: white;
}

.nav-link{
    color: white
}



/*================================== body ================================= */


#texto-inicio{
    padding: 35vh 0 35vh 0;
    text-align: center;
    height: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#texto-inicio img{
    position: absolute;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
    opacity: 0;
    animation: loadImgFundo 10s forwards;
}

#texto-inicio h1{
    margin-bottom: 5vh;
    font-size: 6vh;
    z-index: 2;
}

#texto-inicio p{
    font-weight: 100;
    font-size: 4vh;
    text-align: justify;
    text-align: center;
    margin-left: 15vh;
    margin-right: 15vh;
}

@keyframes loadImgFundo{
    0%{
        opacity: 0;
        transition: 0.8s;
    }
    100%{
        opacity: 0.2;
        z-index: 1;
    }
}

#quem-somos{
    background-color: rgb(43,43,43);
    padding: 35vh 0 35vh 0;
    width: 100%;
    text-align: center;
    color: white;
    z-index: 3;
    border-top: white solid 1px;
    box-shadow: 0px 0px 8px white;

}

#quem-somos p{
    font-weight: 100;
    font-size: 4vh;
    text-align: justify;
    margin-left: 15vh;
    margin-right: 15vh;
}

#nossos-trabalhos {
    background-color: black;
    display: flex;
    flex-direction: column;
    z-index: 2;
    padding: 35vh 0 35vh 0;
    text-align: center;
    color: white;
}

#nossos-trabalhos h1{
    z-index: 2;
}


#contato{
    padding: 16vh 0 20vh 0;
    text-align: center;
    color: white;
    background-color: rgb(59, 59, 59);
    display: flex;
    z-index: 2;
}

#conteiner-contato{
    margin-left: 20vh;
}

#conteiner-contato h1{
    margin-bottom: 6vh;
}

#exampleFormControlInput1{
    width: 70vh;
}

#conteiner-contato button{
    margin-top: 4vh;
    background-color: black;
    border: none;
}




/*================================== footer ================================= */

.footer-inicio{
    background-color: rgb(43, 43, 43);
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    
}

.footer-inicio p, a{
    font-size: 2.5vh;
    text-align: center;
    color:white;
}
 .footer-inicio a{
    color:white;
    text-decoration: none;
 }




