html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    
}

.body-inicio{
    background-color: black;
}

/*================================== menu-navegacao ================================= */

#cabecalho-inicio{
    display: flex;
    justify-content: space-between;
    align-items: center;
    opacity: 0;
    animation: loadCabecalho 6s forwards; 
    z-index: 2;
}

#cabecalho-inicio h1{
    margin-left: 2vh;
    color: white
}

#menu-inicio{
    margin-top: 0px;
    margin-right: 2vh;
}

#menu-inicio ul li{
    display: inline;
    margin-right: 4vh;
}

#menu-inicio a{
    color: white;
    text-decoration: none;
    font-weight: 300;
    font-size: 3vh;
}

#botao-contato {
    font-size: 2vh;
    background-color: white;
    border-radius: 5vh;
    font-weight: 700;
    border-color: white;
}

#botao-contato:hover{
    box-shadow: 3px 3px 0px white;
}

@keyframes loadCabecalho{
    0%{
        opacity: 0;
        transition: 0.8s;
    }
    100%{
        opacity: 1;
        
    }
}



/*================================== body ================================= */


#texto-inicio{
    text-align: center;
    height: 110%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}

#texto-inicio img{
    position: absolute;
    left: 0;
    top: 0;
   width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0;
    animation: loadImgFundo 10s forwards;
}

#texto-inicio h1{
    margin-bottom: 5vh;
    font-size: 6vh;
    z-index: 2;
}

#texto-inicio p{
    font-weight: 100;
    font-size: 4vh;
    text-align: justify;
    text-align: center;
    margin-left: 15vh;
    margin-right: 15vh;
}

@keyframes loadImgFundo{
    0%{
        opacity: 0;
        transition: 0.8s;
    }
    100%{
        opacity: 0.2;
        z-index: 1;
    }
}


/*================================== footer ================================= */

.footer-inicio{
    background-color: rgb(43, 43, 43);
    height: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
    
    
}

.footer-inicio p, a{
    font-size: 2.5vh;
    text-align: center;
    color:white;
}
 .footer-inicio a{
    color:white;
    text-decoration: none;
 }




