*{
    margin: 0;
    padding: 0;
}

html, body{
    margin: 0px;
    height: 100%;
    width: 100%;
    font-family: sans-serif;
}



/*================================== menu-navegacao ================================= */

nav{
    transition: 0.8s;
    height: 15vh;
}

a.nav-link {
    text-transform: uppercase;
    color: white;
    margin-right:2vh;
}

a.nav-link:hover{
    color: white;
    text-decoration: underline;
    transition: 0.8s;
}

a.navbar-brand{
    color: white;
     font-size: 3vh;
     margin-left: 2vh;
 }

 nav.sticky{
    color: #0040ff;
    background-color: rgb(43, 43, 43);
    transition: 0.8s;
    height: 5vh;
 }

 

 nav.sticky a:hover{
     color: #235675;
     text-shadow: 0px 0px 8px #235675 !important;
 }

 nav.sticky .navbar-brand,
 nav.sticky ul li a {
    font-size: 2vh;
    color:white;
    transition: 0.8s;
 }

 


/*================================== body ================================= */


div.section{
    background-color:black;
    height: 100vh;
}

/*================================== inicio ================================= */

#inicio{
    background-color: black;
    background-image: url("../img/background-div-inicio.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;

}
/*================================== div transicao 01 ================================= */

.transition-01{
    height: 20vh;
    background-image: url("../img/background-transition-01.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    box-shadow: inset 0px 0px 10px black;
}

/*================================== quem somos ================================= */

#quem-somos{
    background-color: black;
}


/*================================== nossos trabalhos ================================= */
#nossos-trabalhos{
    background-color: black;
    background-image: url("../img/background-nossos-trabalhos.jpg");
    background-repeat: no-repeat;
    background-size: 100vh;
    background-position: bottom left;
    
}

/*================================== div transicao 03 ================================= */

/*================================== contato ================================= */

#contato {
    height: 88vh;
    background-color: black;
    background-image: url("../img/background-contato-teste.jpg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}


/*================================== footer ================================= */

.footer-inicio{
    background-color: rgb(43, 43, 43);
    height: 7vh;
    display: flex;
    justify-content: center;
    align-items: center;
      
}

.footer-inicio p, a{
    padding-top: 2vh;
    font-size: 2.5vh;
    text-align: center;
    color:white;
}
 .footer-inicio a{
    color:white;
    text-decoration: none;
 }




